[submodule "Astan/vendor/spdlog"]
	path = Astan/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "Astan/vendor/GLFW"]
	path = Astan/vendor/GLFW
	url = https://github.com/TheCherno/glfw
[submodule "Astan/vendor/glm"]
	path = Astan/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "Astan/vendor/imgui"]
	path = Astan/vendor/imgui
	url = https://github.com/TheCherno/imgui
[submodule "Astan/vendor/yaml-cpp"]
	path = Astan/vendor/yaml-cpp
	url = https://github.com/thecherno/yaml-cpp
[submodule "Astan/vendor/ImGuizmo"]
	path = Astan/vendor/ImGuizmo
	url = https://github.com/thecherno/imguizmo
[submodule "Astan/vendor/Box2D"]
	path = Astan/vendor/Box2D
	url = https://github.com/thecherno/box2d
