# Binaries
**/bin/
bin-int/
Intermediates/

# Hazel files
*.log

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
**.csproj

# Directories
Astan/vendor/VulkanSDK
Hazelnut/assets/cache
scripts/__pycache__
Application/AstanProfile-Runtime.json
Application/AstanProfile-Shutdown.json
Application/AstanProfile-Startup.json
